{% include "login/logeado.html"  %}


    <!-- NAVBAR CODE END -->


    <div class="container" >
    {% for i in sprint %}
    <div class="modal fade" id="myModal-sprint-id-{{ i.sprint_id }}" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Asignacion de usuarios al US</h4>
            </div>
            <div class="modal-body">
                <form method="GET" id="formModal-sprint-id-{{ i.sprint_id }}">
                    <label for="listamiembros">Lista de usuarios del sprint:</label>
                    <select name="listamiembros" id="listamiembros" class="form-control">
                      {% for z in  allsprintmember %}
                            {% if z.sprint_id == i.sprint_id %}
                                <option value="{{ z.member.user.username }}">Usuario: {{ z.member.user.username }} Horas Laborales: {{ z.horaslaboralesdiarias }}</option>
                            {%endif%}
                      {% endfor %}
                     </select>
                <p>
                     <label for="horaslaboralesdiarias">Horas Laborales diarias</label>
                     <input class="form-control" type="text" name="horaslaboralesdiarias" id="horaslaboralesdiarias">
                </p>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-default"  >Aceptar Cambios</button>
                </div>
            </form>
        </div>

      </div>

    </div>

  </div>
{% endfor %}
        <div  style="display: inline-block;margin: 0;padding:0;width: 100%">
        <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
            <h2 class="page-header" style="text-align: center;color: grey" >{{ proyecto }}</h2>
              <div class="panel panel-default" style="float:left;"  >
            <div class="panel-heading">

                <h4 style="text-align: center">Sprint Backlogs</h4>
            </div>
              {% if sprint %}
                    <div class="panel-body">
                    <ul>
                          {% for i in sprint %}
                              <li class="list-group-item"><strong>{{i.nombresprint}}</strong> Capacidad: {{ i.capacidadtotalsprint }}<p>Arrastrar US de la lista aqui debajo</p> </li>
                                <ul class="sortable connectedSortable" data-sprint-id="{{ i.sprint_id }}" data-status-sprint="{{ i.status }}">
                              <li>  </li>
                                    {% for x in us %}
                                        {% if x.sprintdefinido.sprint_id == i.sprint_id %}
                                            <li class="alert alert-info" data-id-us="{{ x.id  }}" data-us-estado="{{ x.estado }}"><a href="{% url 'modificarus' user proyecto x.id %}"><strong>{{ x.nombre }}</strong> <p>Estimado:{{ x.tiempoestimado }}</p><p>Usuario: {{ x.usuarioasignado }}</p></a></li>

                                        {% endif %}
                                     {% endfor %}
                                </ul>
                            {% endfor %}
                    </ul>
                    </div>
              {% else %}
                  <h4> Lista Vacia</h4>
                   <h5 style="text-align: center"><a class="btn btn-default" href="{% url 'crearsprint' username proyecto %}">Agregar Sprint</a></h5>
              {% endif %}
            </div>
            <div  style="float: left;width: 60%">

                <div class="Order-list"  style="">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Product Backlog</h4>
                            <h6>User Stories ordenados por prioridad</h6>
                        </div>
                        <div class="panel-body">


                            <p class="text-right" >
                                <a class="btn alert-info btn-lg" href="#" id="generarreportebacklog">Generar Reporte</a>
                                 <a href="{% url 'crearus' user proyecto %}" class="btn btn-info btn-lg">
                                     <span class="glyphicon glyphicon-plus"></span> Agregar US
                                 </a>

                            </p>
                        {% if us %}
                                <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>
                                            <th>Prioridad</th>
                                            <th>Tiempo estimado</th>
                                            <th>Estado </th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                            {% for u in us %}
                                                {% if u.productbacklog == True and u.tipous.proyecto.nombreproyecto == proyecto %}
                                                     <tr class="sortable connectedSortable" data-id-us="{{ u.id }}" data-nombre-us="{{ u.nombre }}" data-productbacklog="{{ u.productbacklog }}">
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ u.nombre }}</td>
                                                        <td>{{ u.descripcioncorta }}</td>
                                                        <td>{{ u.prioridad }}</td>
                                                        <td>{{ u.tiempoestimado }}</td>


                                                        <td><a href="#"  class="btn btn-xs btn-primary">{{ u.estado }}</a></td>
                                                     </tr>

                                                {% endif %}

                                            {% endfor %}




                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <h4>Lista Vacia</h4>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <!-- ORDER LIST END-->
            </div>
        </div>
    </div>

    <!-- CONATINER END -->
    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $("[data-id-us]").on('click',function(e){
            var us_id = $(this).attr('data-id-us')
            var sprint_id  =$(this).parent().attr('data-sprint-id')
            var usuario ;
            var horaslaboralesdiarias;
            $("#myModal-sprint-id-"+sprint_id).modal("show")
            $("#formModal-sprint-id-"+sprint_id).on('submit',function(e){
                    e.preventDefault()
                    usuario = $(this).find("#listamiembros").val()
                    horaslaboralesdiarias = $(this).find("#horaslaboralesdiarias").val()
                     $.ajax({
                         type:"GET",
                         cache:false,
                         url:"{% url 'urlpblog' user proyecto %}",
                         data: {horaslaboralesdiarias:horaslaboralesdiarias,us_id:us_id,sprint_id:sprint_id,usuario_asignado:usuario},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            $("#myModal-sprint-id-"+sprint_id).modal("hide")
                        },
                        error : function(xhr,status,error){

                        },
                    });
            })


    })
    $(function() {
    $( ".sortable" ).sortable({
      connectWith: ".connectedSortable",
        scroll : true, //para poder hacer scroll y desplazar la pantalla,

        scrollSensivity:100,
        helper: function(){
            var $ret = $("<li></li>");
            $ret.append( '<p>' + 'Nombre US:' + $(this).find('td:nth-child(2)').text() + '</p>');
            $ret.addClass("alert alert-info")
            return $ret

         },

        receive: function( event, ui ) {
          var us_id = $(ui.sender).attr('data-id-us')
            var sprint_id  =$(this).attr('data-sprint-id')
            var usuario ;
            var statussprint = $(this).attr('data-status-sprint');
            var horaslaboralesdiarias;
            var status =  $(ui.item).attr('data-us-estado');
            var productbacklog = $(ui.sender).attr('data-productbacklog');
            if(statussprint!="noiniciado"){
                                alert("No puedes mover un us a un sprint, a menos que este no haya iniciado!")
                                $(ui.sender).sortable("cancel");
                                return;

            }
            if(status=="nocomenzado" || productbacklog == "True"){
                if(!us_id){
                    us_id = $(ui.item).attr('data-id-us')



            }

          $(ui.item).addClass('alert alert-info')
            $("#myModal-sprint-id-"+sprint_id).modal("show")
            $("#formModal-sprint-id-"+sprint_id).on('submit',function(e){
                    e.preventDefault()
                    usuario = $(this).find("#listamiembros").val()
                    horaslaboralesdiarias = $(this).find("#horaslaboralesdiarias").val()
                     $.ajax({
                         type:"GET",
                         cache:false,
                         url:"{% url 'urlpblog' user proyecto %}",
                         data: {horaslaboralesdiarias:horaslaboralesdiarias,us_id:us_id,sprint_id:sprint_id,usuario_asignado:usuario},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            $("#myModal-sprint-id-"+sprint_id).modal("hide")
                            window.location.reload(true)
                        },
                        error : function(xhr,status,error){

                        },
                    });
            })

            $(ui.sender).remove()

            }else{
                alert("Este us/sprint ya ha sido comenzado, por lo tanto no puede moverlo/agregarlo")
                $(ui.sender).sortable("cancel")
            }


      },
        over : function(event,ui){

        },
        update : function (event , ui) {

        },
        beforeStop : function(event,ui){

        }

    }).disableSelection();

  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
  <script>
  $("#generarreportebacklog").click(function(e){

      var doc = new jsPDF("p");
    var texto = "<center><p>Inicio de Reporte del Product Backlog del Proyecto {{ proyecto }}</p></center>"

    texto+="<center><p>-----------------------------US en el productBacklog-----------------------------</p></center>";

      {% for u in us %}
          {% if u.tipous.proyecto.nombreproyecto == proyecto %}
              {% if u.productbacklog == True %}
                    texto+="<p>Nombre :{{ u.nombre }}- Estado : {{ u.estado }} - Estimado : {{ u.tiempoestimado }} - Trabajado : {{ u.tiempotrabajado }} </p>"
              {% endif %}
          {% endif %}

      {% endfor %}

        texto+="<center><p>-----------------------------Fin de US en el productbacklog-----------------------------</p></center>";
        texto+="<center><p>-----------------------------US en un sprint que no se comenzaron-----------------------------</p></center>";

          {% for u in us %}
          {% if u.tipous.proyecto.nombreproyecto == proyecto %}
              {% if u.productbacklog == False  %}
                  {% if u.estado == "nocomenzado" %}
                    texto+="<p>Nombre : {{ u.nombre }} - Estado : {{ u.estado }} - Estimado : {{ u.tiempoestimado }} - Trabajado : {{ u.tiempotrabajado }} - Sprint : {{ u.sprintdefinido }} </p>";
                  {% endif %}
              {% endif %}
          {% endif %}

      {% endfor %}

       texto+="<center><p>----------------------------- Fin US en un sprint que no se comenzaron-----------------------------</p></center>";

        texto+="<center><p>-----------------------------US en que se estan haciendo-----------------------------</p></center>";

      {% for u in us %}
          {% if u.tipous.proyecto.nombreproyecto == proyecto %}
              {% if u.productbacklog == False  %}
                  {% if u.estado == "activo" %}
                    texto+="<p>Nombre : {{ u.nombre }} - Estado : {{ u.estado }} - Estimado : {{ u.tiempoestimado }} - Trabajado : {{ u.tiempotrabajado }} - Sprint : {{ u.sprintdefinido }} </p>";
                  {% endif %}
              {% endif %}
          {% endif %}

      {% endfor %}
      texto+="<center><p>-----------------------------Fin de US en que se estan haciendo-----------------------------</p></center>";
      texto+="<center><p>-----------------------------US que se terminaron-----------------------------</p></center> ";
      {% for u in us %}
          {% if u.tipous.proyecto.nombreproyecto == proyecto %}
              {% if u.productbacklog == False  %}
                  {% if u.estado == "finalizado" %}
                    texto+="<p>Nombre : {{ u.nombre }} - Estado : {{ u.estado }} - Estimado : {{ u.tiempoestimado }} - Trabajado : {{ u.tiempotrabajado }} - Terminado en el sprint : {{ u.sprintdefinido }} </p>";
                  {% endif %}
              {% endif %}
          {% endif %}

      {% endfor %}
      texto+="<center><p>-----------------------------Fin de US que se terminaron-----------------------------</p></center>";
    doc.fromHTML(texto,0,0)
    doc.save("reporte-product-backlog-proyecto-{{ proyecto }}.pdf")
  })

  </script>
