 {% include "login/logeado.html"  %}


    {% block content %}

                    <div class="container" style="width: 90%">

                  <form action="{% url 'submit_crear_roles' username %}" method="post">{% csrf_token %}
                        <div class="form-group">
                <label for="nombrerol">Nombres del rol(obligatorio)</label>
                <input type="" class="form-control" id="nombrerol" name="nombrerol" required>
              </div>
              <div class="form-group">
                <label for="nombrepermiso">Nombres de los Permisos(obligatorio)(Separados por coma)</label>
                <input type="" class="form-control" id="nombrerol" name="nombrepermisos" required>
              </div>
                      <div class="form-group">
                <label for="descripcionpermiso">Descripcion del permiso(obligatorio)(Separados por coma)</label>
                <input type="" class="form-control" id="nombrepermisos" name="descripcionpermisos" required>
              </div>
                      <div class="form-group">
                <label for="ambitopermiso">Ingrese a que ambito se le aplicara el permiso</label>
                <input type="" class="form-control" id="nombrepermisos" name="ambitopermiso" required placeholder="gestionarproyecto.proyectos,auth.user,etc">
              </div>
            <button type="submit" class="btn btn-default">Submit</button>

                        </form></div>

    {% endblock %}