 {% include "login/logeado.html"  %}
 {% block content %}
       <div class="container" style="width: 90%">
<a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
    <h4 class="page-header" style="text-align: center">Modificar Rol</h4>
                  <form action="{% url 'submit_modificar_permisos' username  %}" method="post">{% csrf_token %}
              <div class="form-group">
                <div class="panel panel-default">
                     <div class="panel panel-heading">{{ rol.name }}</div>
                     <div class="panel panel-body">

                             <input type="checkbox" name="crear"  {% for i in permisos  %}{% if i.codename == "crear" %}checked{% endif %}{% endfor %}> Crear </br>
                             <input type="checkbox" name="eliminar" {% for i in permisos  %}{% if i.codename == "eliminar" %}checked{% endif %}{% endfor %}> eliminar </br>
                             <input type="checkbox" name="visualizar" {% for i in permisos  %}{% if i.codename == "visualizar" %}checked{% endif %}{% endfor %}> Visualizar </br>
                             <input type="checkbox" name="modificar" {% for i in permisos  %}{% if i.codename == "modificar" %}checked{% endif %}{% endfor %}> Modificar </br>

                     </div>
                </div>
              </div>

            <input type="hidden" value="{{ rol.name }}" name="nombrerol">
            <button type="submit" class="btn btn-default">Enviar</button>

                        </form></div>

 {% endblock %}