{% include "login/logeado.html"  %}

 <!--Aqui se mostraran los proyectos a los cuales el usuario se encuentra asociado-->
     {% block content %}

                <h4 class="page-header" style="text-align: center">Lista de Roles</h4>
                <h5 class="page-header" style="text-align: center"><a class="btn btn-info" href="{% url 'crearroles'  username %}">Crear Rol</a></h5>
             <div class="container-fluid" style="width: 70%">
                 <ul class="list-group">
                    <li class="list-group-item">
                        <div style="display: inline-block; width: 50%">
                            <a class="panel-title">Administrador del Sistema</a>
                        </div>
                    </li>
                   <div class="alert alert-info" style="margin: 0;display: none">
                             <p>El Administrador del Sistema tiene activados todos los permisos</p>
                         </div>
                     {%  for rol in roles %}

                        <li class="list-group-item" class="proyecto">
                            <div style="display: inline-block; width: 50%">
                                <a class="panel-title">{{ rol.name}}</a></div>
                            <div style="width:40%;display: inline-block; text-align: right" >
                                <a class="btn btn-default" href="{% url 'modificarpermisos' username rol.name %}">Modificar</a>
                            </div>
                        </li>
                         <div class="alert alert-info" style="margin: 0; display: none">
                             {% for x in relacion %}
                                    {% if rol.name == x.rol.name %}
                                        <p><strong>Usuario:</strong> {{ x.user.username }}</p><p><strong> Proyecto:</strong>{{ x.proyecto.nombreproyecto }}</p><hr/>

                                    {% endif %}

                             {% endfor %}

                         </div>
                     {% endfor %}
                 </ul>
             </div>
{% endblock %}
<script>
     $(".list-group-item").click(function(){

                    $(this).next().slideToggle('fast')
                })

</script>
