{% include 'login/logeado.html' %}
{% block content %}


    <div class="container">
            <h4 class="page-header" style="text-align: center;">Crear Flujo</h4>
             <form method="post">
                {% csrf_token %}

                <div class="form-group">
                        {% for i in form %}
                    <label for="{{ i.name }}">{{ i.name }}</label>
                    <p>{{ i }}</p>

                     {% endfor %}
                    <input type="submit" value="guardar"/>
                </div>

            </form>

    </div>

{% endblock %}
