{% load static %}
<html>
<head>
    <title>SGP-PANEL DE LOGIN</title>
<link href="{% static 'login/css/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div align="center">
<div class="container">
    <div class="row">
        <h2>Sistema de Gestion de Proyectos</h2>
        <hr />

        <div class="row" align="center">
            <div class="col-sm-8" style="width: 100%">

                <h4 class="page-header">Iniciar Sesion</h4>
                {% block content %}

                {% endblock %}

                <form role="form" action="./" method="post">{% csrf_token %}


                    <div class="form-group float-label-control">
                        <label for="">Username</label>
                        <input class="form-control" placeholder="Username" name="username" required>
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                                    <button type="submit" class="btn btn-default">Iniciar Sesion</button>


                </form>
            </div>


</div>
    </div>
</div>
</div>

<script src="{% static 'login/js/jquery.js' %}"></script>
<script src="{% static 'login/js/bootstrap.js' %}"></script>

</body>

</html>