{% include "login/logeado.html"  %}
{% load static %}
    {% block content %}
        <div class="container-fluid" style="width: 90%;margin-top: 5%">
            <div class="col-md-4">
                <div class="alert alert-info" style="background-color: #fafafa">
                    <h2>Sistema Gestor de Proyectos </h2>
                    <h3>Usuario</h3>
                    <h4>{{ usuario.first_name }}</h4>
                    <h4>{{ usuario.last_name }}</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert list-group-item" style="background-color: #fafafa">
                    <h2>Proyectos Relacionados</h2>
                        {% if roluserproyecto %}
                            {% for i in roluserproyecto %}
                                <div class="list-group-item" style="text-align: center">
                                    <h3>{{ i.proyecto }}</h3>
                                    <h4 style="color: #9d9d9d">{{ i.rol }}</h4>
                                    <a class="btn alert-info" href="{% url 'reporte' user i.proyecto%}" id="reporte"> Ver Reporte del Usuario</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h6>No hay proyectos relacionados a {{ usuario }}</h6>
                        {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}