{% load static %}
<html>
<head>
    <title>SGP - Aplicacion</title>
<link href="{% static 'login/css/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 0">
  <div class="container-fluid" style="margin-left: 10%">
    <!-- Brand and toggle get grouped for better mobile display -->
    <header class="navbar-header">
        <a class="navbar-brand btn btn-default" style="font-size: small;background-color:fafafa" href="{% url 'mostrarCopyright' %}?usuario={{ user }}">SGP</a>
    </header>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
        <li><a style="font-size: large" href="{% url 'index' user %}"> Usuario : {{ user }}</a></li>
        <li><a href="{% url 'buscarproyecto' user%}">Gestionar Proyectos</a></li>
        {% if 'auth.add_permission' in objeto_permiso  and 'auth.change_permission' in objeto_permiso and 'auth.delete_permission' in objeto_permiso%}
         <li><a href="{% url 'mostrarroles' user %}">Gestionar Roles</a></li>
        {% endif %}
        {% if 'auth.add_user' in objeto_permiso and 'auth.change_user' in objeto_permiso and 'auth.delete_user' in objeto_permiso %}
         <li><a href="{% url 'buscarusuarios' user %}">Gestionar Usuarios</a>
        {% endif %}

        </li>


        <li><a href="{% url 'logout_url' %}">Cerrar Sesion</a></li>
      </ul>
    </div>
</nav>

<script src="{% static "/login/js/jquery.js" %}"></script>

<script src="{% static "/login/js/bootstrap.js" %}"></script>

</body>

</html>