 {% include "login/logeado.html"  %}
 <!--Aqui se mostraran los proyectos a los cuales el usuario se encuentra asociado-->


     {% block content %}

                <h4 class="page-header" style="text-align: center">Lista de Usuarios</h4>
                <h5 class="page-header" style="text-align: center"><a class="btn btn-info" href="{% url 'crearusuario' username %}">Crear Usuario</a> </h5>
             <div class="container-fluid" style="width: 70%">
                 <ul class="list-group">
                     {%  for usuario in objeto_usuario %}
                        <li class="list-group-item" id="usuario">
                            <div style="display: inline-block; width: 50%">
                                <h4>{{ usuario}}</h4>
                            </div>
                            <div style="width:40%;display: inline-block; text-align: right" >
                                <a class="btn btn-default" href="{% url 'modificar_usuario' username %}?modificar={{ usuario }}">Modificar</a>
                            </div>
                        </li>
                         <div class="alert alert-info" style="margin: 0; display: none">
                            <p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
                            <p><strong>Apellido:</strong> {{ usuario.last_name }}</p>
                            <p><strong>Email:</strong> {{ usuario.email }}</p>
                         </div>
                     {%  endfor  %}
                </ul>
             </div>

    {% endblock %}
<script>
     $(".list-group-item").click(function(){

                    $(this).next().slideToggle('fast')
                })

</script>
