{% include "login/logeado.html"  %}

{% block content %}
    <div class="container" style="width: 70%">
<a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
      <h4 class="page-header" style="text-align: center">Crear Usuario</h4>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="guardar" class="btn btn-default"/>
        </form>


       </div>


{% endblock %}