
   {% include "login/logeado.html" %}
    {% block content %}
         {% if objeto_username.is_superuser %}

                    <div class="container-fluid" style="width: 90%">

                    <div class="container">
                          <div class="form-group">
                              <form action="./submit_eliminar_usuario" method="post">{% csrf_token %}
                              <label for="proyecto">Lista de usuarios</label>
                                <select class="form-control" id="usuario" name="usuario">
                                        {% for u in lista %}
                                            <option name="usuario" value="{{ u.id }}">{{ u.username }}</option>
                                        {% endfor %}
                                </select>
                                 <button type="submit" class="btn btn-default">Eliminar</button>
                              </form>
                          </div>
                    </div>


           {% else %}
                           <div class="container" style="width: 90%;text-align: center">
                    <div class="alert alert-danger">
                        <h4> <strong>Hey!  </strong>No tienes permiso para ver esta pagina</h4>
                    </div>
                </div>


            {% endif %}
    {% endblock %}