 {% include "login/logeado.html"  %}
 <!--Aqui se mostraran los proyectos a los cuales el usuario se encuentra asociado-->
     {% block content %}

          {% if user_auth.is_superuser  %}
                <h4 class="page-header" style="text-align: center">Listado general de Proyectos(SuperAdministrador)</h4>
             <div class="container-fluid" style="width: 90%">

                 <ul class="list-group">
                     {%  for proyecto in objeto_proyectos %}
                        <li class="list-group-item" class="proyecto">{{ proyecto.nombreproyecto }}</li>
                         <div class="alert alert-info" style="display: none; margin: 0">
                            <p>Nombre Proyecto : {{ proyecto.nombreproyecto}} </p>
                             <p>Codigo : <strong class="codigo">{{ proyecto.codigoproyecto }}</strong></p>
                            <p>Fecha Inicio : {{  proyecto.fechainicio }}</p>
                            <p> Fecha finalizacion : {{ proyecto.fechafinalizacion }}</p>
                            <p> Duracion Sprint : {{ proyecto.duracionsprint }}</p>
                            <p class="agregar_usuario">Agregar Usuario</p>
                         </div>

                     {%  endfor  %}
                </ul>
             </div>
         {% else %}
              {%  for relacion in relaciones %}
                     <h4 class="page-header" style="text-align: center">Proyectos en los que eres {{  relacion.group.name}}</h4>
                     <div class="container-fluid" style="width: 90%">

                             <ul class="list-group">
                                 {%  for proyecto in objeto_proyectos %}
                                     {%  if proyecto.codigoproyecto == relacion.proyecto_id.codigoproyecto %}
                                        <li class="list-group-item">{{ proyecto.nombreproyecto }}</li>
                                     {% endif %}
                                 {%  endfor  %}
                            </ul>
                     </div>

              {% endfor %}
          {% endif %}

         <script>
                $(".list-group-item").click(function(){
                    //alert('hola')
                    $(this).next().slideToggle('slow')
                })
                $(".agregar_usuario").click(function(){
                    var id = $(this).parent().find('.codigo').text();
                    //console.log(id);
                    $form = $("<form class='form_proyecto' style='display:none' action='post'>{% csrf_token%} </form>");
                    $form.append('<label for="usuario">Usuario disponibles:  <select name="idusuario">{% for usuario in usuarios_all  %} <option value="{{ usuario.id }}""> {{ usuario.username }} {% endfor %} ');
                    $form.append('<label for="rol">Roles disponibles:  <select name="idrol">{% for rol in roles%} <option value ="{{ rol.id }}">{{ rol.name }} {% endfor %}')
                    $form.insertBefore(this);
                    $status = $("<p class='status'>Pendiente</p>")
                    $form.append($status)
                    $button = $("<p><button type='submit' class='btn btn-default'>Agregar miembro</button></p>")
                    $hiddeninput = $("<input type='hidden' name='codigoproyecto'>")
                    $hiddeninput.val(id)
                    $form.append($hiddeninput)
                    $form.append($button)
                    $form.fadeIn("slow");
                    $form.on('submit',function(event){
                        event.preventDefault();
                        var $form = $(this),
                        $inputs = $form.find("select"),
                        serializedData = $form.serialize();
                        //alert(serializedData);
                        var that = this;
                        $.ajax({
                        url: "./submit_relacion_proyecto_roles_usuarios",
                        type: "post",
                        data: serializedData,
                        success: function(response) {
                            $(that).find('.status').text('Listo!')
                        },
                        error : function(response){
                            alert(response)
                        }
                         })

                    })

                })



         </script>
    {% endblock %}
