{% include "login/logeado.html"  %}
{% block content %}
    <div class="container" style="width: 90%">
    <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
        <h4 class="page-header" style="text-align: center">Modificar Sprint</h4>
        <form method="post">{% csrf_token %}
            {{ formulario.as_p }}
  <button type="submit" class="btn btn-default">Enviar</button>
      </form></div>
    {% endblock %}