{% include "login/logeado.html"  %}
{% load guardian_tags %}

<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <style>
        .sortable li{
            list-style-type: none;
            width: 100px;


        }

    </style>

                {% get_obj_perms user  for proyectoactual as "permisos" %}

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Seguimiento del US - {{ i }}</h4>
            </div>
            <div class="modal-body">
                <form method="GET" id="formModal">
                     <p>Estado Kanban Actual : <input class="form-control" type="text" id="estadokanbanactual" name="estadokanbanactual" required />.</p>
                     <p>SubEstado Kanban Actual : <input class="form-control" type="text" id="subestadokanbanactual" name="subestadokanbanactual" required readonly/>.</p>
                     <p>Horas Trabajadas : <input class="form-control" type="text" id="horastrabajadas" name="horastrabajadas"  required /></p>
                     <p>Notas : <input class="form-control" type="text" id="notas" name="notas" required/> </p>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" >Aceptar Cambios</button>
                </div>
            </form>
        </div>

      </div>

    </div>
  </div>
{% for i in usall %}
 <div class="modal fade" id="myModalverificacion-us-id-{{ i.id }}" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Seguimiento del US</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-info" data-subestado-actual="{{ i.subestadokanban }}" data-estado-actual="{{ i.estadokanban }}" data-us-estado="{{ i.estado }}">
                            <div>
                                <p><strong>{{i.nombre}}</strong></p>
                                <p>Horas Trabajadas : {{ i.tiempotrabajado }}</p><p>Horas Estimadas : {{ i.tiempoestimado }}</p><p>Usuario Asignado : {{ i.usuarioasignado }}</p><p>Estado Actual : {{ i.estado }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style>
                        <form method="GET" id="formModalverificacion-us-id-{{ i.id }}">
                            <label>Estado Kanban Futuro : </label>
                            <select class="form-control" onselect="{{ i.estadokanban }}" type="text" id="estadokanbanfuturo-us-id-{{ i.id }}" name="estadokanbanfuturo-us-id-{{ i.id }}" required>
                                {% for tipo in tus %}
                                    {% for est in tipo.estado %}
                                            <option>{{ est }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        <br>
                            <label>SubEstado Kanban Futuro :</label>
                            <select class="form-control" type="text" id="subestadokanbanfuturo-us-id-{{ i.id }}" name="subestadokanbanfuturo-us-id-{{ i.id }}" required >
                                {% for tipo in tus %}
                                    {% if tipo == i.tipous %}
                                        {% for sub in tipo.subestado %}
                                            {% if sub == i.subestadokanban %}
                                                <option selected> {{ sub }}</option>
                                            {% else %}
                                                <option>{{ sub }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        <br>
                            <label>Correcto: </label>
                            <select class="form-control" name="correcto-us-id-{{ i.id }}"  id="correcto-us-id-{{ i.id }}">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        <br>
                            <label>Criterios:</label>
                            <input class="form-control" type="text" readonly value="{{ i.criterios }}"/>
                        <br>
                            <label>Motivos :</label>
                                 <input class="form-control" type="text" required id="motivo-us-id-{{ i.id }}"/>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" >Aceptar Cambios</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
      </div>

    </div>
  </div>
{% endfor %}
<div class="container-fluid">
    <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
{% if 'crear' in permisos and 'visualizar' in permisos and 'modificar' in permisos and 'eliminar' in permisos%}
    {% if diaactual == -1 %}
    <a class="btn alert-success" href="#" id="iniciarsprint">Iniciar Sprint</a>
    {% else %}
        <a class="btn alert-info" href="#" id="avanzaraldiasiguiente">Avanzar al Siguiente Dia > </a>
        <a class="btn alert-danger" href="#" id="detenersprint">Detener Sprint</a>
    {% endif %}
{% endif %}
{% if diaactual >= 0 %}
    <a class="btn btn-default" href="#">{{ fecha }}</a>
    {% if feriado_domingo == True %}
        <a class="btn btn-danger"> Es feriado o domingo!</a>
    {% else %}
        <a class="btn btn-default" href="#" id="diaactual"><strong> Dias Transcurridos:</strong>  {{ diaactual }} {% if sprintactivo == False %} <strong>Tiempo Finalizado</strong>{% else %}<strong> Faltan :</strong> {{ diasfaltantes }} dia(s){% endif %}</a>
    {% endif %}
{% endif %}
<a class="btn btn-default" href="#" id="diaactual"><strong> Capacidad del Sprint:</strong> {{ capacidadsprint }}</a>
<a class="btn alert-info" href="#" id="reportesprint">Generar Reporte del Sprint</a>
    <div class="row">
            <div class="col-md-2 col-sm-4 sidebar1">
                <div class="left-navigation" class="panel panel-default" style="">
                    <div class="panel panel-heading">Sprint Backlog</div>
                    <div class="panel panel-body" style="padding: 0; margin: 0">
                    <ul style="list-style-type: none; padding: 0" class="sortable connectedSortable sprintbacklog" >

                        {%  for x in usall %}
                            {% if  not x.estadokanban and not x.subestadokanban %}
                                   <li style="width: 100%" class="alert alert-info" data-us-id = "{{ x.id }}" data-user-asignado="{{ x.usuarioasignado }}"><strong>{{ x.nombre }}</strong><p> Tipo: {{ x.tipous }}</p><p>Usuario: {{ x.usuarioasignado }}</p></li>
                            <hr/>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-sm-8 main-content" id="main">
  <ul class="nav nav-tabs" id="dashboard_tabs">
      <li><a href="#tablero_tab" data-toggle="tab"><b>Tablero</b></a></li>
      <li><a href="#progreso_tab" data-toggle="tab">Progreso</a></li>
      <li><a href="#burndownchart_tab" data-toggle="tab">Grafico</a></li>
      <li><a href="#miembros_tab" data-toggle="tab">Miembros</a> </li>
      <li><a href="#">Horas Trabajadas Hoy : {{ horashechas }} / {{ topelaboraldiario }}</a></li>
      <li><a href="#">Capacidad Laboral : {{ capacidadutilizada }} /  {{ capacidadtotalhoraria }}</a></li>
  </ul>
   <div class="tab-content">
    <div id="tablero_tab" class="tab-pane fade  in active" style="overflow: auto">
              {% for x in tus %}
    <div class="panel panel-default contenedorFlujo" style="width: auto;overflow: auto" >
                  <div class="panel-heading">Flujo: <strong>{{ x.flujo }}</strong> TipoUS: <strong> {{ x.nombretipus }}</strong></div>
                        {% for y in x.estado %}
                            <div class="panel panel-default" style="width: auto;display: inline-block;" data-estado="{{ y }}">
                                  <div class="panel-heading">{{ y }}</div>
                                    {% for z in x.subestado %}
                                        <div class="panel panel-default" style="display: inline-block;" data-subestado="{{ z }}">
                                        <div class="panel-heading">{{ z }}</div>
                                        <div class="panel-body" class="container" style="min-height: 300px;min-width: 300px;max-height: 300px;overflow: auto" >
                                            <ul class="sortable connectedSortable">
                                             <li>Arrastre aqui los us</li>
                                                    {% for i in usall %}
                                                        {% if i.estadokanban == y and i.subestadokanban == z%}
                                                            <li style="width: 250px" class="alert alert-info userstory" data-us-id="{{ i.id }}" data-user-asignado="{{ i.usuarioasignado }}" data-subestado-actual="{{ i.subestadokanban }}" data-estado-actual="{{ i.estadokanban }}" data-us-estado="{{ i.estado }}" data-us-tiempotrabajado="{{ i.tiempotrabajado }}" data-us-tiempoestimado="{{ i.tiempoestimado }}">{{i.nombre}} <span style="display: none"><p>Horas Trabajadas : {{ i.tiempotrabajado }}</p><p>Horas Estimadas : {{ i.tiempoestimado }}</p><p>Usuario Asignado : {{ i.usuarioasignado }}</p><p>Estado Actual : {{ i.estado }}</p></span></li>
                                                        {% endif %}
                                                     {% endfor %}

                                            </ul>
                                        </div>
                                        </div>

                                     {% endfor %}
                            </div>
                        {% endfor %}



                </div>

              {% endfor %}
    </div>
   <div id="miembros_tab" class="tab-pane fade">
       <div class="container" style="width: 70%">
           <h5 class="page-header">Lista de Miembros</h5>
       {% if sprintmembers %}
            <ul class="list-group" id="myUL">
                {% for miembro in sprintmembers %}
                <li class="list-group-item">
                    <div class="panel-title">{{ miembro.member.user.username }}</div>
                    <div>Horas Laborales: {{ miembro.horaslaboralesdiarias }}</div>
                </li>
                {% endfor %}
            </ul>
           {% else %}
           <h4>Lista vacía</h4>
           <br>
       {% endif %}
       <h5 class="page-header">Agregar Miembro</h5>
       <form method="POST">
           {% csrf_token %}
              {{ form.as_p }}
                <button>Enviar</button>
       </form>
       </div>




            </div>
   <div align="center" id ="progreso_tab" class="tab-pane fade">
        <a class="btn alert-info" href="#" id="generardaily">Guardar como PDF</a>
       <div class="table-responsive" >
           <table class="table table-striped table-bordered table-hover" id="daily">
               <thead>
               <tr style="background-color: white">
                   <th>Dia</th>
                   <th>Usuario</th>
                   <th>User Story</th>
                   <th>Horas Trabajadas</th>
                   <th>Historial</th>
               </tr>
               </thead>
           <tbody>
               {% for x in progreso %}
                   <tr style="background-color: white">

                      <td>{{ x.dialaboral }}</td>
                       <td>{{ x.usuarioacargo.username }}</td>
                       <td>{{ x.us.nombre }}</td>
                       {% if x.horastrabajadas %}
                           <td>{{ x.horastrabajadas }}</td>
                       {% else %}
                           <td>-</td>
                       {% endif %}
                       <td>{{ x.historia }}</td>
                   </tr>
               {% endfor %}
           </table>
       </div>
   <div id="chart_us_prioridad">

   </div>
   </div>
   <div align="center" id="burndownchart_tab" class="tab-pane fade" style="width: auto; height:auto ;display: block ">
       <hr>
       <a class="btn alert-info" href="#" id="generarpdf">Guardar como PDF</a>
       <div id="curve_chart" style="width:auto; height: 600px; display: block"></div>


   </div>
   </div>
   </div>
        </div>
</div>
</html>
{{ sprintactivo }} {{ feriado_domingo }}
{% if sprintactivo == True and feriado_domingo  == False %}

<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endif %}
<script>
    $('#detenersprint').click(function(e){
        var detenersprint = true;
                    $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizar_sprint' username proyecto_nombre_url id_sprint %}",
                        data: {detenersprint:detenersprint},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            console.log(status)

                              window.location.reload(true)

                        },
                        error : function(xhr,status,error){

                        }
                    });
    })
 $(function() {
     $('[data-us-estado="estadodeaceptacion"]').addClass('alert alert-warning')
    $('[data-us-estado="aprobado"]').addClass('alert alert-success')
    $('[data-us-estado="finalizado"]').css({'backgroundColor':'grey'})
      sprintactivo = "{{ sprintactivo }}"
     $(".userstory").each(function(index,value){
         $(value).hover(function(){
                var infooculta = $(value).children()
                infooculta.show()
         },function(){
                var infooculta = $(value).children()
                infooculta.hide()
         })
     })
     //Iterar sobre todos los <li> con class userstory y verificar sus attributos
        $(".userstory").each(function(index,value){
            var horastrabajadas = parseInt($(value).attr('data-us-tiempotrabajado'))
            var horasestimadas = parseInt($(value).attr('data-us-tiempoestimado'))
            var subestadoactual = $(value).attr('data-subestado-actual')
            if(horastrabajadas>=horasestimadas ){
                //Cambio la clase y lo pone en alerta
                $(value).addClass('alert alert-warning')
                if(sprintactivo=="False"){
                      $(value).addClass('alert alert-danger')

                }
            }
            if(subestadoactual== 'Hacer' && sprintactivo =="False"){
                $(value).addClass('alert alert-danger')
            }
        })
      $('[data-subestado-actual="Haciendo"]').on('click',function(e){
              //alert('hola')
               var that = this;
               var horastrabajadas
               var notas;
               var usuarioasignado;
               var idus;
               var estadoactual = $(this).attr('data-estado-actual')

               var subestadoactual = $(this).attr('data-subestado-actual')
               if ($(this).attr("data-user-asignado") == "{{ username }}"){
                   $("#myModal").find("input[name=estadokanbanactual]").val(estadoactual).prop('readonly',true)
                   $("#myModal").find("input[name=subestadokanbanactual]").val(subestadoactual).prop('readonly',true)
                   $("#myModal").modal("show");
                    $("#formModal").on('submit',function(e){
                        e.preventDefault();
                        horastrabajadas = $(this).find("input[name=horastrabajadas]").val();
                        notas = $(this).find("input[name=notas]").val()
                        usuarioasignado = $(that).attr('data-user-asignado')
                        idus = $(that).attr('data-us-id')
                        estadoactual = $(that).attr('data-estado-actual')
                        subestadoactual = $(that).attr('data-subestado-actual')
                        $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizar_sprint' username proyecto_nombre_url id_sprint %}",
                        data: {usuarioasignado:usuarioasignado,estadoactual:estadoactual,subestadoactual:subestadoactual,idus:idus,horastrabajadas:horastrabajadas,notas:notas},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            console.log(status)
                              $("#myModal").modal("hide");
                              window.location.reload(true)

                        },
                        error : function(xhr,status,error){

                        }
                    });



                   })

               }
          })







     $("#iniciarsprint").on('click',function(e){
         $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizar_sprint' username proyecto_nombre_url id_sprint %}",
                        data: {iniciado:true},// multiple data sent using ajax
                        success: function (result,status,xhr){
                            window.location.reload(true)

                            },
                        error : function(xhr,status,error){

                        }




            })


     })
    $('#avanzaraldiasiguiente').on('click',function(e){



        $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizar_sprint' username proyecto_nombre_url id_sprint %}",
                        data: {diasiguiente:true},// multiple data sent using ajax
                        success: function (result,status,xhr){

                            window.location.reload(true)

                            },
                        error : function(xhr,status,error){

                        }




            })
            //Luego de oprimir el boton de avanzar al diasiguiente , se recorre todos los elementos que tengan attributo data-user-asignado == username

    })
     var permiso_creacion = {% if 'crear' in permisos %}true{% else %}false{% endif%}
     var permiso_modificacion = {% if 'modificar' in permisos %}true{% else %}false{% endif%}
     var permiso_visualizacion = {% if 'visualizar' in permisos %}true{% else %}false{% endif%}
     var permiso_eliminacion = {% if 'eliminar' in permisos %}true{% else %}false{% endif %}
    $('[data-us-estado="rechazado"]').addClass('alert alert-danger')
    $('[data-subestado-actual="Hecho"]').click(function(e){
        var idus = $(this).attr('data-us-id')
        var $that = $(this)
        if(permiso_creacion && permiso_modificacion && permiso_eliminacion && permiso_visualizacion){
           $("#myModalverificacion-us-id-"+idus).modal("show")
                            $("#estadokanbanfuturo-us-id-"+idus).val($that.attr('data-estado-actual'))
                              $("#formModalverificacion-us-id-"+idus).on('submit',function(e) {
                                 e.preventDefault()
                                  var correcto = $(this).find("#correcto-us-id-"+idus).val()
                                     var subestadofuturo = $(this).find("#subestadokanbanfuturo-us-id-"+idus).val()
                                     var estadofuturo = $(this).find("#estadokanbanfuturo-us-id-"+idus).val()
                                     var motivo = $(this).find("#motivo-us-id-"+idus).val()

                    $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizar_sprint' username proyecto_nombre_url id_sprint %}",
                        data: {estadofuturo:estadofuturo,subestadofuturo:subestadofuturo,correcto:correcto,idus : idus,motivo:motivo},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            console.log(status)
                             $('#myModalverificacion').modal('hide');
                            window.location.reload(true)

                            },
                        error : function(xhr,status,error){

                        }




            })
                              })
        }else{
            alert('Debes esperar a que el scrummaster verifique este user story')
        }

    });

    $(".sortable").sortable({
      connectWith: ".connectedSortable",
        scroll : true, //para poder hacer scroll y desplazar la pantalla,

        scrollSensivity:100,

      receive: function( event, ui ) {
           //console.log(($(ui.sender).parent().parent().next().length == 0))
           //console.log(($(ui.sender).parent().parent().parent().next().is($(this).parent().parent().parent())))
            //console.log($(this).parent().parent().prevAll().length)
             var usuarioactual = "{{ username }}"
             var usuarioasignado = $(ui.item).attr('data-user-asignado')
             var subestadoactual = $(this).parent().parent().attr('data-subestado')
             var estadoactual = $(this).parent().parent().parent().attr('data-estado')
             var idus = $(ui.item).attr('data-us-id')
             var horastrabajadas;
             var notas;
             var permiso_creacion = {% if 'crear' in permisos %}true{% else %}false{% endif%}
             var permiso_modificacion = {% if 'modificar' in permisos %}true{% else %}false{% endif%}
             var permiso_visualizacion = {% if 'visualizar' in permisos %}true{% else %}false{% endif%}
             var permiso_eliminacion = {% if 'eliminar' in permisos %}true{% else %}false{% endif %}
              var idus = $(ui.item).attr('data-us-id')

             if($(ui.item).attr('data-us-estado')=="estadodeaceptacion"){
                 if (permiso_creacion && permiso_modificacion && permiso_visualizacion && permiso_visualizacion){
                            $("#myModalverificacion-us-id-"+idus).modal("show")
                            $("#estadokanbanfuturo-us-id-"+idus).val($that.attr('data-estado-actual'))
                              $("#formModalverificacion-us-id-"+idus).on('submit',function(e) {
                                 e.preventDefault()
                                  var correcto = $(this).find("#correcto-us-id-"+idus).val()
                                     var subestadofuturo = $(this).find("#subestadokanbanfuturo-us-id-"+idus).val()
                                     var estadofuturo = $(this).find("#estadokanbanfuturo-us-id-"+idus).val()
                                     var motivo = $(this).find("#motivo-us-id-"+idus).val()
                    $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizar_sprint' username proyecto_nombre_url id_sprint %}",
                        data: {estadofuturo:estadofuturo,subestadofuturo:subestadofuturo,correcto:correcto,idus : idus,motivo:motivo},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            console.log(status)
                             $('#myModalverificacion').modal('hide');
                            window.location.reload(true)

                            },
                        error : function(xhr,status,error){

                        }




            })
                              })

                 }else{
                     $(ui.sender).sortable("cancel")
                     alert("Debes esperar hasta que el scrum master apruebe o rechaze para moverlo")
                 }
             }else{

             if (subestadoactual == "Hacer" || subestadoactual == "Haciendo"){
                 $("#formModal").find("input[name=horastrabajadas]").prop('readonly',true)
                 $("#formModal").find("input[name=horastrabajadas]").val(0)
             }
             console.log(idus)

             if($(ui.sender).parent().parent().next().is($(this).parent().parent())  || ($(ui.sender).parent().parent().next().length == 0 && $(ui.sender).parent().parent().parent().next().is($(this).parent().parent().parent()) && $(this).parent().parent().prevAll().length == 1 || $(ui.sender).hasClass('sprintbacklog')) ){
                        if(usuarioasignado == usuarioactual){
                           $("#formModal").on('submit',function(e){
                        e.preventDefault()
                        if(subestadoactual == 'Hacer' || subestadoactual == "Haciendo"){
                               horastrabajadas = 0

                        }else{
                               horastrabajadas = $(this).find("input[name=horastrabajadas]").val();
                        }

                        notas = $(this).find("input[name=notas]").val()

                        $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizar_sprint' username proyecto_nombre_url id_sprint %}",
                        data: {usuarioasignado:usuarioasignado,estadoactual:estadoactual,subestadoactual:subestadoactual,idus:idus,horastrabajadas:horastrabajadas,notas:notas},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                             $('#myModal').modal('hide');
                                                          window.location.reload(true)

                        },
                        error : function(xhr,status,error){

                        }
                    });


                    })
                    $('#myModal').modal('show');
                    $('#estadokanbanactual').val(estadoactual)
                    $('#subestadokanbanactual').val(subestadoactual)




                        }else{

                            alert('No puede mover un us que no se le ha asignado')
                            ui.sender.sortable("cancel")

                        }







            }else{
                  alert("no se puede")
                  ui.sender.sortable("cancel")
            }

             }

      },
        over : function(event,ui){

        },
        update : function (event , ui) {

        },

    }).disableSelection();

  });
  </script>


<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {{ matriz|safe }}
        ]);

        var options = {
          title: 'BurndownChart, Generado el : {{ fecha }}',
          curveType: 'function',
          legend: { position: 'bottom' },


        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        google.visualization.events.addListener(chart, 'ready', function () {
                $("#generarpdf").click(function(e){
                     var doc = new jsPDF("l");
                     doc.addImage(chart.getImageURI(), 0, 0);
                     doc.save('chart {{ sprintactivo }} {{ fecha }}.pdf');
                })


         });
        chart.draw(data, options);
      }
    </script>
  </head>
  <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
<script>
    $("#generardaily").click(function(e) {
        console.log("generando reporte");
        console.log($("#daily"))
        html2canvas($("#daily"), {
            onrendered: function (canvas) {
                theCanvas = canvas;
                //convertir en imagen
                var doc = new jsPDF("l");
                doc.addImage(canvas, 0, 0);
                doc.save("reporte-daily.pdf");
            }
        })
    })
</script>
<script>
    $("#reportesprint").click(function(e){
         var doc = new jsPDF("p");
    var texto = "<center><p>Inicio de Reporte del Sprint {{ nombresprint }}</p></center>"
        texto+="<center><p>US que aun no se tocaron</p></center>";
             {% for u in allus %}

                  {% if u.estado == None %}
                    texto+="<p>Nombre : {{ u.nombre }} - Estado : {{ u.estado }} - Estimado : {{ u.tiempoestimado }} - Trabajado : {{ u.tiempotrabajado }} - Sprint : {{ u.sprintdefinido }} </p>";
                  {% endif %}



      {% endfor %}
        texto+="<center><p>Fin de US que aun no se tocaron</p></center>";
        texto+="<center><p>US en que se estan haciendo</p></center>";

      {% for u in allus %}

                  {% if u.estado == "activo" %}
                    texto+="<p>Nombre : {{ u.nombre }} - Estado : {{ u.estado }} - Estimado : {{ u.tiempoestimado }} - Trabajado : {{ u.tiempotrabajado }} - Sprint : {{ u.sprintdefinido }} </p>";
                  {% endif %}



      {% endfor %}
      texto+="<center><p>Fin de US en que se estan haciendo</p></center>";
      texto+="<center><p>US que se terminaron</p></center> ";
      {% for u in allus %}

                  {% if u.estado == "finalizado" %}
                    texto+="<p>Nombre : {{ u.nombre }} - Estado : {{ u.estado }} - Estimado : {{ u.tiempoestimado }} - Trabajado : {{ u.tiempotrabajado }} - Terminado en el sprint : {{ u.sprintdefinido }} </p>";
                  {% endif %}


      {% endfor %}
      texto+="<center><p>Fin de US que se terminaron</p></center>";
    doc.fromHTML(texto,0,0)
    doc.save("reporte-sprint-{{ nombresprint }}.pdf")
        var doc2 = new jsPDF("l");
        var texto = "<p>----------Reporte US por prioridad maxima---------</p>";
        {% for u in usall %}
            {% if u.prioridad == 10%}
                texto+="<p>Reporte del US {{ u.nombre }}";
                {% for p in progreso %}
                    texto+="<p>Usuario a cargo : {{ p.usuarioacargo }} - Dia laboral : {{ p.dialaboral }} - Historia : {{ p.historia }} - Estado : {{ p.status }}";


                {% endfor %}
            {% endif %}
        {% endfor %}
        texto+="<p>-----------------Fin del Reporte----------------</p>";
          var textWidth = doc.getStringUnitWidth(texto) * doc.internal.getFontSize() / doc.internal.scaleFactor;
         var textOffset = (doc.internal.pageSize.width - textWidth) / 2;

      doc2.fromHTML(texto,0,0,)
        doc2.save("reporte-sprint-prioridad-{{ nombresprint }}.pdf")
    })

</script>

