{% include 'login/logeado.html' %}
{% block content %}
    <div class="container" style="width: 90%">

        <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
        <h4 class="page-header" style="text-align: center"> Agregar Miembro</h4>

         <form method="POST">
    {% csrf_token %}
     {{ form.as_p }}
             <button type="submit" class="btn btn-default">Guardar</button>
    </form>

    </div>

{% endblock %}