{% include "login/logeado.html"  %}
{% load guardian_tags %}
{%  load static %}
<html>
 <!--Aqui se mostraran los proyectos a los cuales el usuario se encuentra asociado-->
{% block content %}
    <h4 class="page-header" style="text-align: center">Lista de Proyectos</h4>
    {% if 'gestionarproyecto.add_proyectos' in objeto_permiso %}
        <h6 class="page-header" style="text-align: center"><a class="btn btn-info" href="{% url 'crearproyecto' username %}">Crear Proyecto</a></h6>
    {% endif %}
<body>
{% if not objeto_proyectos %}
    <div class="container-fluid" style="width:100%">
        <h4 class="panel-title" style="text-align: center">Lista Vacía</h4>
    </div>
{% else %}
<div class="container-fluid" style="width: 70%">
    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar..." title="Type in a name" style="width: 100%">

    <ul class="list-group" id="myUL">
         {%  for proyecto in objeto_proyectos %}
             {% get_obj_perms usuario for proyecto as "permiso_proyecto" %}
             {% if permiso_proyecto and 'visualizar' in permiso_proyecto  %}
                    <li class="list-group-item" class="proyecto">
                        <div style="display: inline-block; width: 50%">
                            <a class="panel-title">{{ proyecto.nombreproyecto}}</a>
                        </div>
                        <div style="width:40%;display: inline-block; text-align: right" >
                        {% if 'visualizar' in permiso_proyecto %}
                            <a class="btn btn-default" href="{% url 'visualizarproyecto' username proyecto.nombreproyecto %}" style="display:inline-block;width: 33%">Visualizar</a>
                        {% endif %}
                            {% if 'modificar' in permiso_proyecto %}
                                <a class="btn btn-default" href="{% url 'modificarproyecto' username proyecto.nombreproyecto %}" style="display: inline-block;display;width: 33%">Modificar</a>
                            {% endif %}
                        </div>
                    </li>

                     <div class="alert alert-info" style="display: none; margin: 0">
                         <p>Nombre Proyecto : {{ proyecto.nombreproyecto}} </p>
                         <p>Estado : {% if proyecto.status == "En Curso" %}(En Curso) {% endif %}{% if proyecto.status == "Terminado" %}(Terminado) {% endif %}{% if proyecto.status == "Inactivo" %}(Inactivo) {% endif %}</p>
                         {% for relacion in relaciones %}
                              {% if proyecto == relacion.proyecto %}
                                  <p>Rol : {{ relacion.rol.name }}</p>
                              {% endif %}
                          {% endfor %}
                         <p> Permisos :
                             {% for perm in permiso_proyecto %}
                                {{ perm }}
                             {% endfor %}
                         </p>
                        <p>Codigo : <strong class="codigo">{{ proyecto.codigoproyecto }}</strong></p>
                        <p>Año asociado : {{  proyecto.anoasociado }}</p>
                        <p>Fecha Inicio : {{  proyecto.fechainicio }}</p>
                        <p> Fecha finalizacion : {{ proyecto.fechafinalizacion }}</p>
                        <p> Duracion Sprint : {{ proyecto.duracionsprint }}</p>
                     </div>
             {% else %}

                 {% if 'change_proyectos' in permiso_proyecto %}
                             <li class="list-group-item" class="proyecto">
                                 <div style="display: inline-block; width: 50%"><a class="panel-title">{{ proyecto.nombreproyecto}}</a></div>
                                 <div style="width:40%;display: inline-block; text-align: center" >
                                     <a class="btn btn-default" href="{% if 'change_proyectos' in permiso_proyecto %}{% url 'visualizarproyecto' username proyecto.nombreproyecto %}{% else %}#{% endif %}" style="display:inline-block;width: 33%">Visualizar</a>
                                     <a class="btn btn-default" href="{% if 'change_proyecto' in permiso_proyecto %}{% url 'modificarproyecto' username proyecto.nombreproyecto %}{% else %}#{% endif %}" style="display: inline-block;display;width: 33%">Modificar</a>
                                 </div>
                    </li>

                     <div class="alert alert-info" style="display: none; margin: 0">
                         <p>Nombre Proyecto : {{ proyecto.nombreproyecto}} </p>
                         <p>Estado : {% if proyecto.status == "En Curso" %}(En Curso) {% endif %}{% if proyecto.status == "Terminado" %}(Terminado) {% endif %}{% if proyecto.status == "Inactivo" %}(Inactivo) {% endif %}</p>
                          {% for relacion in relaciones %}
                              {% if proyecto == relacion.proyecto %}
                                  <p>Rol : {{ relacion.rol.name }}</p>
                              {% endif %}
                          {% endfor %}
                         <p> Permisos : {{ permiso_proyecto }}</p>
                        <p>Codigo : <strong class="codigo">{{ proyecto.codigoproyecto }}</strong></p>
                        <p>Año asociado : {{  proyecto.anoasociado }}</p>
                        <p>Fecha Inicio : {{  proyecto.fechainicio }}</p>
                        <p>Fecha finalizacion : {{ proyecto.fechafinalizacion }}</p>
                        <p>Duracion Sprint : {{ proyecto.duracionsprint }}</p>
                     </div>
                 {% endif %}


            {% endif %}

         {%  endfor  %}
    </ul>
</div>
{% endif %}
</body>
{% endblock %}

</html>

<script>
         $(".list-group-item").click(function(){
             $(this).next().slideToggle('fast')
                })

</script>
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>