{% include "login/logeado.html" %}
{% load static %}
    {% block content %}
        {% if progreso %}
        <div class="container-fluid" style="width: 90%;margin-top: 5%">
            <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
            <hr>
            <div align="center"><a class="btn alert-info" href="#" id="generarpdf">Guardar como PDF</a></div>
            <div id="chart_div"></div>
        </div>
        <div align="center"><a class="btn alert-info" id="btnPrint" >Guardar como PDF</a></div>
        <h3 align="center">User Stories por Sprints</h3>

        <div id="dvContainer">
        {% for sprint in sprints %}
            <h4 align="center">{{ sprint }}</h4>
            <div align="center" class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                   <thead align="center" style="background-color: white">
                   <tr>
                       <th>User Story</th>
                       <th>Horas Trabajadas</th>
                       <th>Dia laboral</th>
                       <th>Historial</th>
                       <th>US status</th>
                   </tr>
                   </thead>
               <tbody align="center" style="background-color: white">
                   {% for x in progreso %}
                       {% if x.us.sprintdefinido == sprint %}
                           <tr>
                               <td>{{ x.us.nombre }}</td>
                               <td>{{ x.horastrabajadas }}</td>
                               <td>{% if x.dialaboral == None %}-{% else %}{{ x.dialaboral }}{% endif %}</td>
                               <td>{{ x.historia }}</td>
                               <td>{{ x.status }}</td>
                           </tr>
                       {% endif %}
                   {% endfor %}
               </table>
           </div>
        {% endfor %}
    </div>
        {% else %}
            <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
            <h3>No se han generado reportes</h3>
            <h4>El usuario no ha desarrollado ninguna actividad en {{ proyecto }}</h4>
        {% endif %}
    {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawStacked);

    function drawStacked() {
          var data = google.visualization.arrayToDataTable([
            {{ matriz|safe }}
          ]);

          var options = {
            title: 'Reporte de {{ usuario }}, {{ proyecto.nombreproyecto }}',
            chartArea: {width: '50%'},
            isStacked: true,
            hAxis: {
              title: 'Horas',
              minValue: 0,
            },
            vAxis: {
              title: 'User Stories'
            }
          };
          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
          google.visualization.events.addListener(chart, 'ready', function () {
                $("#generarpdf").click(function(e){
                     var doc = new jsPDF("l");
                      doc.addImage(chart.getImageURI(), 0, 10);
                     doc.save('Reporte US {{ usuario }} {{ proyecto.nombreproyecto }}.pdf');
                })
            });
          chart.draw(data, options);
        }
    </script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>User Stories por Sprints</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>