{% include "login/logeado.html"  %}
{% load static %}
{% load guardian_tags %}

<!DOCTYPE html>
<html>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Visualizar Proyecto</title>
    <link href="{% static "gestionarproyecto/css/bootstrap3.3.7.css"  %}" rel="stylesheet" id="bootstrap-css">
</head>
    {% get_obj_perms user  for proyecto as "permisos" %}
    {% if not tipous_all or not relaciones%}
    <div class="container-fluid" style="width: 70%;">
        <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
    <h2 class="page-header" style="text-align: center">El proyecto está vacío</h2>
    <h3 style="text-align: center">Para iniciar hay que seguir los pasos</h3>
    <div class="col-md-6 col-sm-6" style="background: #fafafa;margin-top: 2%">
        <h4 class="page-header" style="text-align: center">Primer paso: Crear un Tipo de User Story</h4>
        {% if tipous_all %}
            <h5>Tipos de US creados:</h5>
            {% for tipo in tipous_all %}
                <div class="list-group-item" style="text-align: center">
                    {{ tipo }}
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        <a class="btn btn-info" href="{% url 'tiposUS:creartiposusv2' username proyecto.nombreproyecto %}">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar Tipo US
        </a>
    </div>
    <div class="col-md-6 col-sm-6" style="background: #fafafa;margin-top: 2%">
        <h4 class="page-header" style="text-align: center">Segundo paso: Agregar un Miembro al Proyecto</h4>
        {% if relaciones %}
            <h5>Miembros agregados</h5>
            {% for relacion in relaciones %}
                <div class="list-group">
                    {{ relacion.user.username }} - {{ relacion.rol.name }}
                    <br>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        <a class="btn btn-info" style="text-align: center" href="{% url 'agregarmiembro' username proyecto.nombreproyecto %}">
            <span style="text-align: center" class="glyphicon glyphicon-plus"></span>
            Agregar Miembro
        </a>
    </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4" style="margin-left: 5%">
                <div class="left-navigation" style="background: #fafafa;margin-top: 2%">
                <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
                    <br>
                    <h3 class="page-header" style="text-align: center">{{ proyecto.nombreproyecto }}</h3>
                    <h6 align="center"><strong>Fecha de inicio:</strong> {{ proyecto.fechainicio }}</h6>
                    <h6 align="center"><strong>Fecha de finalizacion:</strong> {{ proyecto.fechafinalizacion }}</h6>
                    <h6 align="center"><strong>Estado:</strong> {{ proyecto.status }}</h6>
                    <ul class="list-group" style="margin: 5%" >

                        <h5 class="page-header" style="color:#2e6da4" align="center"><strong>Menu</strong></h5>
                        {% if proyecto.status == "iniciado" %}
                            <li class="list-group-item" ><a class="btn" style="width: 100%" href="{% url 'crearsprint' username proyecto.nombreproyecto %}">Agregar Sprint</a></li>
                        {% endif %}
                        <li class="list-group-item desplegable"><a class="btn" style="width: 100%" href="#">Tipos de User Story</a></li>
                            <div id="miembros_tab" class="alert alert-info" style="display: none; margin: 0">
                                {% for tipo in tipous_all %}
                                    <div class="list-group">
                                        {{ tipo }}
                                    </div>
                                    <hr>
                                {% endfor %}
                                <a class="btn btn-info" href="{% url 'tiposUS:creartiposusv2' username proyecto.nombreproyecto %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Agregar Tipo US
                                </a>
                            </div>
                        <li class="list-group-item desplegable"><a class="btn" style="width: 100%" href="#">Miembros</a></li>
                            <div id="miembros_tab" class="alert alert-info" style="display: none; margin: 0">
                                {% for relacion in relaciones %}
                                    <div class="list-group">
                                        {{ relacion.user.username }} - {{ relacion.rol.name }}
                                        <br>
                                    </div>
                                    <hr>
                                {% endfor %}
                                <a class="btn btn-info" href="{% url 'agregarmiembro' username proyecto.nombreproyecto %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Agregar Miembro
                                </a>
                            </div>
                        <li class="list-group-item"><a class="btn" style="width: 100%" href="{% url 'urlpblog' user proyecto.nombreproyecto  %}">Ver Product Backlog</a> </li>
                        {% if proyecto.status == "iniciado" %}
                            <li class="list-group-item"><a class="btn alert-danger" style="width: 100%" href="#" id="terminarproyecto">Terminar Proyecto</a> </li>
                        {% else %}
                            <li class="list-group-item"><a class="btn alert-success" style="width: 100%" href="#" id="iniciarproyecto">Iniciar Proyecto</a> </li>
                        {% endif %}

                    </ul>
                    <br>
                </div>
            </div>
           <div class="col-md-8 col-sm-8 main-content" id="main" style=";margin-top: 2%">
            <main role="main">
                <h4 class="page-header" style="text-align: center">Lista de Sprints</h4>
            {% if sprints_all %}
                    <div class="container-fluid" style="width: 90%">
                        <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar..." title="Type in a name" style="width: 100%">
                        <ul class="list-group" id="myUL">
                            {%  for sprint in sprints_all %}
                                    <li class="list-group-item desplegable">
                                        <div style="display: inline-block; width: 50%">
                                            <a class="panel-title">{{ sprint.nombresprint}}</a>
                                        </div>
                                        <div style="width:40%;display: inline-block; text-align: center" >
                                            <a class="btn btn-default" href="{% url 'visualizar_sprint' username proyecto.nombreproyecto sprint.sprint_id %}" style="display:inline-block;width: 33%">Visualizar</a>
                                            {% if 'modificar' in permisos and sprint.status == 'noiniciado' %}
                                                <a class="btn btn-default" href="{% url 'modificarsprint' username proyecto.nombreproyecto sprint.sprint_id %}" style="display:inline-block;width: 33%">Modificar</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <div class="alert alert-info" style="display: none; margin: 0">
                                        <p>Fecha de Inicio : {{ sprint.fechainicio }} </p>
                                        <p>Fecha de Finalizacion : {{ sprint.fechafinalizacion }} </p>
                                        <p>Duracion : {{ sprint.duracion }} dias</p>
                                        <p>Capacidad Total : {{ sprint.capacidadtotalsprint }} horas</p>
                                    </div>
                            {%  endfor  %}
                        </ul>
                    </div>
            {% else %}
                <h4 style="text-align: center">Lista Vacía</h4>
                {% if proyecto.status == "iniciado" %}
                <h5 style="text-align: center"><a class="btn btn-default" href="{% url 'crearsprint' username proyecto.nombreproyecto %}">Agregar Sprint</a></h5>
                {% else %}
                    <h5 style="text-align: center">Iniciar el proyecto para agregar un Sprint</h5>
                {% endif %}
            {% endif %}
            </main>
            </div>
        </div>
    </div>
    {% endif %}
<script src="{% static "gestionarproyecto/js/jquery3.3.1.min.js" %}"></script>
<script src="{% static "gestionarproyecto/js/bootstrap3.3.7.min.js" %}"></script>

{% endblock %}
</html>





<script>
         $(".desplegable").click(function(){

                    $(this).next().slideToggle('fast')
                })
        $("#iniciarproyecto").click(function(){
             $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizarproyecto' username proyecto.nombreproyecto  %}",
                        data: {iniciarproyecto:"true"},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            console.log(status)
                             window.location.reload(true)

                            },
                        error : function(xhr,status,error){

                        }




            })
        });

          $("#terminarproyecto").click(function(){
             $.ajax({
                        type:"GET",
                         cache:false,
                        url:"{% url 'visualizarproyecto' username proyecto.nombreproyecto  %}",
                        data: {terminarproyecto:"true"},// multiple data sent using ajax
                        success: function (result,status,xhr) {
                            console.log(status)
                             window.location.reload(true)

                            },
                        error : function(xhr,status,error){

                        }

            })
        });

</script>
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>
