{% include "login/logeado.html"  %}

{% load staticfiles %}
{% block specific-css %}
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}"/>
    <script type="application/javascript" src="{% static 'admin/js/core.js' %}"></script>
{% endblock %}
{% block content %}
        
        <form method="post">
            {% csrf_token %}
                {{ form }}
            <input type="submit" value="Enviar">
        </form>
{% endblock %}
{% block static-js %}
    <script type="application/javascript" src="/admin/jsi18n"></script>
<script type="application/javascript">
        var django = django || {};
        django.jQuery = jQuery;
    </script>
    <script type="application/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
    <script type="application/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>

{% endblock %}