{% include "login/logeado.html"  %}

    {% block content %}
    <div class="container" style="width: 90%">


      <h4 class="page-header" style="text-align: center">Crear Tipo de US</h4>

        <form method="post">
            {% csrf_token %}
             {% for i in form %}
                 {% if i.name == "flujo" %}
                       <label for="{{ i.name }}">{{ i.name }} : <a href="{% url 'gestionarflujos:crearflujos' username proyecto.nombreproyecto %}?usuario={{ username }}">Crear Flujo</a> </label>
                {{ i }}
                 {% else %}
                      <label for="{{ i.name }}">{{ i.name }}</label>
                    {{ i }}
                 {% endif %}


            {% endfor %}

            <br>
            <input type="submit" value="guardar" class="btn btn-default"/>
        </form>

    </div>


     {% endblock %}