{% include "login/logeado.html"  %}

    {% block content %}


            <div class="form-group">
                <label> Type User History:</label>
                <p>{{ tipous.nombre}}</p>
             </div>

            <div class="form-group">
                <label > Flujo: {{ tipous.flujo }} </label>
          </div>



             <div class="form-group">

              Estados<a href=" {% url 'gestionarflujos:agregarestado' username proyecto.nombreproyecto tipous.flujo   %}?usuario={{ username }} ">Agregar Estado</a>
        </div>

        {% for e in estado %}

                <div class="form-group">
                <label > Estado: {{e.estado}} </label>
                  </div>


                <div class="form-group">
                <label > Sub Estados  </label>
             </div>
            {% for se in e.subestado %}

                   <p>{{se}}</p>

         {% endfor %}
     {% endfor %}




    {% endblock %}