<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Tipos de US</title>
</head>
<body>

    {% block content %}
        {% include 'login/logeado.html' %}
                        <h4 class="page-header" style="text-align: center">Lista de Tipos de US asociados al proyecto</h4>
                <h5 class="page-header" style="text-align: center">Seleccione un Tipo de US asociado al proyecto(<a href="{% url 'tiposUS:creartiposus' username objetoproyecto.nombreproyecto %}?usuario={{ username }}">Crear Tipo US</a>)</h5>
                 <div class="container-fluid" style="width: 90%">
                 <ul class="list-group">

                {% for i in objeto_tipo_us %}
                    <li class="list-group-item">
                        <a href="{% url 'tiposUS:detailtiposus' username objetoproyecto.nombreproyecto i.nombre %}?usuario={{ username }}">{{ i }}</a>
                    </li>

                {% endfor %}
                 </ul>
    {% endblock %}

</body>
</html>