<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Tipos de US</title>
</head>
<body>

    {% block content %}
        {% include 'login/logeado.html' %}
        <div class="container-fluid" style="width: 90%">
        <a class="btn alert-danger" href="javascript:history.go(-1)"> < Atrás</a>
    <h4 class="page-header" style="text-align: center">Lista de Tipos de US</h4>
        <h5 class="page-header" style="text-align: center"><a class="btn btn-info" href="{% url 'tiposUS:creartiposusv2'  user proyecto_nombre_url  %}">Crear Tipo de US</a> </h5>
                 <ul class="list-group">

                {% for i in objeto_tipo_us %}
                    <li class="list-group-item" class="proyecto">{{ i }}</li>
                    <div class="alert alert-info" style="display: none; margin: 0">
                            <p>tipoUS : {{ i.nombretipus}} </p>
                            <p>Flujo : {{ i.flujo}} </p>
                            <p>Estado : {{ i.estado}} </p>
                            <p>Subestado : {{ i.subestado}} </p>
                    </div>
                {% endfor %}
                 </ul>
        </div>





         <script>
                $(".list-group-item").click(function(){
                    $(this).next().slideToggle('slow')
                })
        </script>


    {% endblock %}




</body>
</html>